@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --bg-primary: #2f3448;
  --bg-secondary: #1f2230;
  --text-primary: #f2f2f2;
  --text-secondary: #8e8ea1;
  --border-primary: #f5f5f5;
  --primary-blue: #2f80ed;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: var(--bg-secondary);
}

.main_container {
  display: flex;
}

/* Navigation sidebar start */
.nav {
  flex: 2;
  background: var(--bg-primary);
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}

.logo_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  max-width: 190px;
}

.nav_items_wrapper {
  margin: auto;
  max-width: min-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 60px;
}
.nav_item {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 30px;
}

.nav_item > span {
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
}
.nav_icon {
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 100%;
}
.nav_item > .nav_icon > img {
  height: 100%;
  width: 100%;
}
.nav_item:hover .nav_icon {
  background: var(--primary-blue);
}
.log_out_warpper {
  margin: 0 auto;
}
/* navigation sidebar end */

/* content body start */
.content_body {
  flex: 10;
  padding: 20px;
  background: var(--bg-secondary);
}
/* Header start */
.header {
  display: flex;
  gap: 20px;
}

.searchbar_warpper {
  flex: 1;
}

.searchbar {
  border-radius: 40px;
  padding: 10px 20px;
  background: var(--bg-primary);
  max-width: 60%;
  display: flex;
  gap: 20px;
  justify-items: center;
  align-items: center;
}

.searchbar > input {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
  color: var(--text-secondary);
}

.searchbar > img {
  height: 20px;
}

.header_ctas {
  display: flex;
  color: var(--text-primary);
}

.header_ctas {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header_ctas > ._icon {
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.header_ctas > ._icon > img {
  height: 100%;
  width: 100%;
}
.header_ctas > .user {
  display: flex;
}

.header_ctas > .user > figure {
  align-items: center;
  border-radius: 100%;
  display: flex;
  gap: 20px;
}
.header_ctas > .user > figure > img {
  height: 40px;
  width: 40px;
  border-radius: 100%;
}
/* Header end */

/* Content Start */
.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile_container {
  margin: 60px 0;
  background: var(--bg-primary);
  border-radius: 28px;
  padding: 80px;
  position: relative;
}

.btnContainer {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 20px;
}

.editBtn > img, .deleteBtn > img {
  width: 20px;
  height: 20px;
  background: var(--bg-primary);
  border: none;
  outline: none;
}

.editBtn, .deleteBtn {
  border: none;
  cursor: pointer;
}

.profile_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.profile_filed_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 120px;
}

.input_field {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
}

.profile_header > figure > img {
  width: 220px;
  height: 220px;
  border-radius: 100%;
}
.header_ctas > .user > figure > img {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  border: 2px  solid #2f80ed;;
}
.textBtn{
  background-color: transparent;
  border: none;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.name {
  font-weight: 700;
  font-size: 40px;
  color: var(--text-primary);
}

.role {
  font-weight: 400;
  font-size: 24px;
  color: var(--text-secondary);
}

.input_field > .label {
  font-weight: 400;
  font-size: 24px;
  color: var(--text-secondary);
}

.input_field > .value {
  font-weight: 700;
  font-size: 24px;
  color: var(--text-primary);
}

.hide{
  background: transparent;
  border: none;
}

.top{
  text-align: center;
  padding-top: 20px;
  width: 100%;
  color: greenyellow;
}

#saveShow{
  font-weight: 400;
  font-size: 24px;
  color: var(--text-secondary);
  display: none;
}

.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.select{
  font-weight: 700;
  font-size: 24px;
  color: var(--text-primary);
  border: none;
}

.saveShowBtn {
  color: var(--primary-blue);
  background: rgba(47, 128, 237, 0.1);
  padding: 5px 15px;
  border-radius: 30px;
  margin: 10px;
}
.btn_container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn_container > a {
  color: white;
}
.btn_container > span > a {
  color: white;
}

/*  */

.delete_account_container {
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete_account_container > div {
  padding: 25vh;
}

.delete_account_container > div > * {
  color: white;
}