form {
  
}

body{
    background: rgb(255, 255, 255);
    padding: 4em 4em 2em;
    max-width: 300px;
    max-height: 500px;
    margin: 100px auto 0;
  
    border-radius: 10px;
    border: 1px solid red;
}